In [1]:
#Group sales data by month and calculate monthly totals
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
file_path = 'sales_data.csv'
df = pd.read_csv(file_path)

# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Group by month and calculate sum of Total_Sales
# Using .to_period('M') for grouping by month
monthly_totals = df.groupby(df['Date'].dt.to_period('M'))['Total_Sales'].sum().reset_index()

# Rename columns for clarity
monthly_totals.columns = ['Month', 'Monthly_Total_Sales']

# Convert Period back to string for plotting and saving
monthly_totals['Month'] = monthly_totals['Month'].astype(str)

# Save the monthly totals to a CSV file
monthly_totals.to_csv('monthly_sales_totals.csv', index=False)



print(monthly_totals)

     Month  Monthly_Total_Sales
0  2024-01              4120524
1  2024-02              2656050
2  2024-03              4485006
3  2024-04              1103468

In [2]:
## Filter data using multiple conditions (AND, OR operations)
# AND logic using & (requires parentheses around conditions)
and_filter = df[(df['Product'] == 'Phone') & (df['Quantity'] > 5)]

# OR logic using |
or_filter = df[(df['Region'] == 'West') | (df['Total_Sales'] > 300000)]

# Combined logic
combined = df[((df['Product'] == 'Laptop') | (df['Product'] == 'Tablet')) & (df['Total_Sales'] > 200000)]

In [3]:
print(and_filter)
print("--------------------------------")
print(or_filter)
print("---------------------------------")
print(combined)

         Date Product  Quantity  Price Customer_ID Region  Total_Sales
0  2024-01-01   Phone         7  37300     CUST001   East       261100
12 2024-01-13   Phone         8  20655     CUST013   East       165240
15 2024-01-16   Phone         9  41548     CUST016  South       373932
46 2024-02-16   Phone         6  29499     CUST047  North       176994
50 2024-02-20   Phone         9  15160     CUST051   West       136440
64 2024-03-05   Phone         7  44652     CUST065  South       312564
83 2024-03-24   Phone         8  40518     CUST084  South       324144
87 2024-03-28   Phone         6   4578     CUST088   West        27468
--------------------------------
         Date     Product  Quantity  Price Customer_ID Region  Total_Sales
2  2024-01-03       Phone         2  21746     CUST003   West        43492
4  2024-01-05      Laptop         8  39835     CUST005  North       318680
6  2024-01-07      Laptop         9  40430     CUST007  South       363870
7  2024-01-08      Laptop         7   7262     CUST008   West        50834
9  2024-01-10      Laptop         4  45023     CUST010   West       180092
10 2024-01-11     Monitor         8   6160     CUST011   West        49280
11 2024-01-12       Phone         2  13233     CUST012   West        26466
14 2024-01-15  Headphones         2  34447     CUST015   West        68894
15 2024-01-16       Phone         9  41548     CUST016  South       373932
18 2024-01-19      Tablet         1  44045     CUST019   West        44045
19 2024-01-20      Laptop         8  41749     CUST020  North       333992
21 2024-01-22      Tablet         2   6713     CUST022   West        13426
23 2024-01-24  Headphones         1  17838     CUST024   West        17838
24 2024-01-25     Monitor         2   9191     CUST025   West        18382
27 2024-01-28      Tablet         7  43495     CUST028  North       304465
40 2024-02-10     Monitor         1  20083     CUST041   West        20083
41 2024-02-11       Phone         1  18616     CUST042   West        18616
42 2024-02-12      Tablet         6  43350     CUST043   West       260100
43 2024-02-13     Monitor         4  43428     CUST044   West       173712
45 2024-02-15      Tablet         2  11032     CUST046   West        22064
47 2024-02-17     Monitor         1   6720     CUST048   West         6720
49 2024-02-19      Laptop         4  43848     CUST050   West       175392
50 2024-02-20       Phone         9  15160     CUST051   West       136440
51 2024-02-21  Headphones         1  32524     CUST052   West        32524
63 2024-03-04      Laptop         5  17924     CUST064   West        89620
64 2024-03-05       Phone         7  44652     CUST065  South       312564
69 2024-03-10      Laptop         9  35418     CUST070  South       318762
70 2024-03-11       Phone         4  34843     CUST071   West       139372
72 2024-03-13  Headphones         7  49930     CUST073   West       349510
82 2024-03-23      Laptop         8  43861     CUST083  North       350888
83 2024-03-24       Phone         8  40518     CUST084  South       324144
86 2024-03-27      Tablet         4   3839     CUST087   West        15356
87 2024-03-28       Phone         6   4578     CUST088   West        27468
94 2024-04-04      Tablet         7  19507     CUST095   West       136549
96 2024-04-06  Headphones         1   7647     CUST097   West         7647
---------------------------------
         Date Product  Quantity  Price Customer_ID Region  Total_Sales
4  2024-01-05  Laptop         8  39835     CUST005  North       318680
5  2024-01-06  Laptop         7  40420     CUST006  South       282940
6  2024-01-07  Laptop         9  40430     CUST007  South       363870
19 2024-01-20  Laptop         8  41749     CUST020  North       333992
22 2024-01-23  Laptop         9  29275     CUST023  North       263475
27 2024-01-28  Tablet         7  43495     CUST028  North       304465
30 2024-01-31  Tablet         6  34900     CUST031   East       209400
42 2024-02-12  Tablet         6  43350     CUST043   West       260100
69 2024-03-10  Laptop         9  35418     CUST070  South       318762
77 2024-03-18  Tablet         9  26110     CUST078   East       234990
82 2024-03-23  Laptop         8  43861     CUST083  North       350888
88 2024-03-29  Laptop         6  38037     CUST089  North       228222

In [4]:
##Clean and transform text data using string methods
# 1. Clean 'Product' column: remove whitespace and convert to Title Case
df['Product_Cleaned'] = df['Product'].str.strip().str.title()

# 2. Transform 'Customer_ID': Remove the 'CUST' prefix and convert to integer
df['Customer_Number'] = df['Customer_ID'].str.replace('CUST', '', regex=False).astype(int)

# 3. Clean 'Region': strip whitespace and convert to Uppercase
df['Region_Cleaned'] = df['Region'].str.strip().str.upper()

# 4. Create a combined description column (Concatenation)
df['Description'] = df['Product_Cleaned'] + " sold in " + df['Region_Cleaned']

# Select a subset of columns to show the transformation clearly
transformed_df = df[['Date', 'Product', 'Product_Cleaned', 'Customer_ID', 'Customer_Number', 'Region', 'Region_Cleaned', 'Description']]

# Save the full cleaned dataset
df.to_csv('cleaned_sales_data.csv', index=False)

print(transformed_df.head())

        Date     Product Product_Cleaned Customer_ID  Customer_Number Region  \
0 2024-01-01       Phone           Phone     CUST001                1   East
1 2024-01-02  Headphones      Headphones     CUST002                2  North
2 2024-01-03       Phone           Phone     CUST003                3   West
3 2024-01-04  Headphones      Headphones     CUST004                4   East
4 2024-01-05      Laptop          Laptop     CUST005                5  North

  Region_Cleaned               Description
0           EAST        Phone sold in EAST
1          NORTH  Headphones sold in NORTH
2           WEST        Phone sold in WEST
3           EAST   Headphones sold in EAST
4          NORTH      Laptop sold in NORTH

In [5]:
# Strip whitespace and change case
df['Product'] = df['Product'].str.strip().str.title()
df['Region'] = df['Region'].str.strip().str.upper()

# Replace substrings and convert type
df['Cust_Num'] = df['Customer_ID'].str.replace('CUST', '', regex=False).astype(int)

# String concatenation
df['Description'] = df['Product'] + " - " + df['Region']

In [6]:
##Extract year, month, day from date columns
# Ensure Date column is in datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Extract Year, Month, and Day
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

# Save the updated dataframe to a CSV
df.to_csv('date_components_extracted.csv', index=False)

# Display the first few rows of the relevant columns
print(df[['Date', 'Year', 'Month', 'Day']].head())

        Date  Year  Month  Day
0 2024-01-01  2024      1    1
1 2024-01-02  2024      1    2
2 2024-01-03  2024      1    3
3 2024-01-04  2024      1    4
4 2024-01-05  2024      1    5

In [7]:
import re

# Load the datasets
sales_df = pd.read_csv('sales_data.csv')
customer_df = pd.read_csv('customer_churn.csv')

# Standardize IDs by extracting numeric part
sales_df['ID_Num'] = sales_df['Customer_ID'].str.extract('(\d+)').astype(int)
customer_df['ID_Num'] = customer_df['CustomerID'].str.extract('(\d+)').astype(int)

# Perform the merge (Left Join to keep all sales records)
merged_df = pd.merge(sales_df, customer_df, on='ID_Num', how='left')

# Drop the temporary ID_Num and the redundant CustomerID from the right table
merged_df = merged_df.drop(columns=['ID_Num', 'CustomerID'])

# Save the result
merged_df.to_csv('merged_sales_customer_data.csv', index=False)

# Check the first few rows and count of matches
print("Merged Data Head:")
print(merged_df.head())
print("\nTotal rows in merged data:", len(merged_df))
print("Rows with missing customer data (if any):", merged_df['Churn'].isna().sum())

Merged Data Head:
         Date     Product  Quantity  Price Customer_ID Region  Total_Sales  \
0  2024-01-01       Phone         7  37300     CUST001   East       261100
1  2024-01-02  Headphones         4  15406     CUST002  North        61624
2  2024-01-03       Phone         2  21746     CUST003   West        43492
3  2024-01-04  Headphones         1  30895     CUST004   East        30895
4  2024-01-05      Laptop         8  39835     CUST005  North       318680

   Tenure  MonthlyCharges  TotalCharges        Contract     PaymentMethod  \
0       6              64          1540        One year       Credit Card
1      21             113          1753  Month-to-month  Electronic Check
2      27              31          1455        Two year       Credit Card
3      53              29          7150  Month-to-month  Electronic Check
4      16             185          1023        One year  Electronic Check

  PaperlessBilling  SeniorCitizen  Churn
0               No              1      0
1              Yes              1      0
2               No              1      0
3               No              1      0
4               No              1      0

Total rows in merged data: 100
Rows with missing customer data (if any): 0

In [8]:
##Merge customer data with sales data

# Load both datasets to inspect columns
sales_df = pd.read_csv('sales_data.csv')
customer_df = pd.read_csv('customer_churn.csv')

print("Sales Data Columns:", sales_df.columns.tolist())
print("---------------------------------------------------------------------------")
print("Customer Data Columns:", customer_df.columns.tolist())
print("---------------------------------------------------------------------------")
print("\nSales Data Head:")
print("---------------------------------------------------------------------------")
print(sales_df.head())
print("---------------------------------------------------------------------------")
print("\nCustomer Data Head:")
print("---------------------------------------------------------------------------")
print(customer_df.head())

Sales Data Columns: ['Date', 'Product', 'Quantity', 'Price', 'Customer_ID', 'Region', 'Total_Sales']
---------------------------------------------------------------------------
Customer Data Columns: ['CustomerID', 'Tenure', 'MonthlyCharges', 'TotalCharges', 'Contract', 'PaymentMethod', 'PaperlessBilling', 'SeniorCitizen', 'Churn']
---------------------------------------------------------------------------

Sales Data Head:
---------------------------------------------------------------------------
         Date     Product  Quantity  Price Customer_ID Region  Total_Sales
0  2024-01-01       Phone         7  37300     CUST001   East       261100
1  2024-01-02  Headphones         4  15406     CUST002  North        61624
2  2024-01-03       Phone         2  21746     CUST003   West        43492
3  2024-01-04  Headphones         1  30895     CUST004   East        30895
4  2024-01-05      Laptop         8  39835     CUST005  North       318680
---------------------------------------------------------------------------

Customer Data Head:
---------------------------------------------------------------------------
  CustomerID  Tenure  MonthlyCharges  TotalCharges        Contract  \
0     C00001       6              64          1540        One year
1     C00002      21             113          1753  Month-to-month
2     C00003      27              31          1455        Two year
3     C00004      53              29          7150  Month-to-month
4     C00005      16             185          1023        One year

      PaymentMethod PaperlessBilling  SeniorCitizen  Churn
0       Credit Card               No              1      0
1  Electronic Check              Yes              1      0
2       Credit Card               No              1      0
3  Electronic Check               No              1      0
4  Electronic Check               No              1      0

In [9]:
## Create pivot tables to summarize data by categories
# Load the merged data we created earlier
df = pd.read_csv('merged_sales_customer_data.csv')

# Create the pivot table
pivot = df.pivot_table(
    index=['Region', 'Product'], 
    values=['Total_Sales', 'Quantity'], 
    aggfunc='sum'
)

print(pivot)

                   Quantity  Total_Sales
Region Product
East   Headphones        15       288361
       Laptop             7       221946
       Monitor           29       642870
       Phone             17       506828
       Tablet            26       859634
North  Headphones         5       107091
       Laptop            54      1798206
       Monitor           20       397100
       Phone             14       489284
       Tablet            54      1191954
South  Headphones        16       512168
       Laptop            55      1373120
       Monitor            1        39924
       Phone             46      1471428
       Tablet            25       341212
West   Headphones        12       476413
       Laptop            20       495938
       Monitor           16       268177
       Phone             24       391854
       Tablet            22       491540